body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.container {
  max-width: 1300px; 
  margin: 0 auto;   
  padding: 0 20px;    
  box-sizing: border-box;
  
 padding-top: 20px;
}

.full-width-breakout {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  overflow: hidden;
}